<div class="forms">
  <h3>Your Votes</h3>
  <table>
    <thead>
      <tr>
        <th>Will Split / Won't Split</th>
        <th>Restaurant Name</th>
        <th>Restaurant Link</th>
      </tr>
    </thead>

    <tbody>

        <tr class="rows">
          <td>hi</td>
          <td>hi</td>
          <td>hi</td>
        </tr>
    </tbody>
  </table>
</div>

<div class="forms">
  <h3>Your Comments</h3>
  <table>
    <thead>
      <tr>
        <th>Comment</th>
        <th>Restaurant Name</th>
        <th>Restaurant Link</th>
      </tr>
    </thead>

    <tbody>

        <tr class="rows">
          <td>hi</td>
          <td>hi</td>
          <td>hi</td>
        </tr>
    </tbody>
  </table>
</div>

<div class="forms">
  <h3>Your Favorites</h3>
  <table>
    <thead>
      <tr>
        <th>Remove Favorite</th>
        <th>Restaurant Name</th>
        <th>Restaurant Link</th>
      </tr>
    </thead>

    <tbody>
        <tr class="rows">
          <td>hi</td>
          <td>hi</td>
          <td>hi</td>
        </tr>
    </tbody>
  </table><br><br>
</div>
