header {
  background-color: #61dbfb;
  color: white;
  margin: auto;
  width: 80%;
  padding: 60px;
  font-size: 20px;
  text-align: center;
}

.rows:nth-child(odd) {
  background-color: lightblue;
}

.notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1.414em;
  text-align: center;
  width: 80%;
}

.field {
  padding: 10px;
  margin: 1em;
}

.location {
  padding: 10px;
}

.actions {
  padding: 10px;
  margin: 1em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.search {
  text-align: center;
  margin: auto;
}

.links {
  padding: 60px;
}
